.section {
  display: flex;
  align-items: center;
  padding: var(--global-padding-sides);
  width: 100%;
  color: var(--gray);
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
}

.navigation,
.navigation-logo,
.navigation-links,
.navigation-footer {
  width: 100px;
}

.navigation-logo,
.navigation-footer {
  height: 115px;
  max-height: 115px;
}

.navigation-logo {
  padding: 20%;
}

.navigation-logo img {
  width: 100%;
  height: auto;
}

.navigation-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-links a {
  margin-bottom: 2rem;
}

.navigation svg {
  max-height: 50px;
  max-width: 50px;
  fill: var(--gray);
}

@media only screen and (min-width: 1201px) {
  .section {
    padding: 0;
  }
}