.section {
  display: flex;
  align-items: center;
  padding: var(--global-padding-sides);
  width: 100%;
  color: var(--gray);
}

.navigation {
  background-color: var(--backdrop);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.navigation,
.navigation-logo,
.navigation-links,
.navigation-links span,
.navigation-links span a,
.navigation-footer {
  width: 100px;
}

.navigation-logo,
.navigation-footer {
  height: 115px;
  max-height: 115px;
}

.navigation-logo {
  padding: 20%;
}

.navigation-logo img {
  width: 100%;
  height: auto;
}

.navigation-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;
}

.navigation-links a {
  display: inline-block;
  color: var(--gray);
  text-align: center;
  padding: 1.5rem;
  padding-left: 0;
  padding-right: 0;
  transition: color 250ms ease-in-out;
}

.active a {
  font-weight: 700;
}

.navigation svg {
  max-height: 50px;
  max-width: 50px;
  fill: var(--gray);
}

.navigation-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.navigation-footer span,
.navigation-footer img {
  margin-bottom: 1rem;
}

.navigation-footer span {
  color: var(--gray);
  font-size: .75rem;
}

@media only screen and (min-width: 1201px) {
  .section {
    padding: 0;
  }
}