.page-container {
  padding-top: var(--global-padding-all);
}

.section {
  display: flex;
  padding: var(--global-padding-sides);
  width: 100%;
  color: var(--gray);
}

.navigation {
  width: 100%;
  max-height: 50px;
}

.navigation svg {
  max-height: 50px;
  max-width: 50px;
  fill: var(--gray);
}