.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--global-padding-sides);
  width: 100%;
}

.experiences_item {
  color: var(--gray);
  min-width: 100%;
  max-width: 100%;
  display: flex;
  padding-top: var(--global-padding-all);
  padding-bottom: var(--global-padding-all);
}
.experiences_item .left,
.experiences_item .right {
  width: 50%;
  max-width: 50%;
}

.experiences_item h1,
.experiences_item h3,
.experiences_item p {
  z-index: 2;
}

.experiences_item h1,
.experiences_item h3 {
  font-family: "Don Jose";
  line-height: 47px;
}

.experiences_item h1 {
  font-size: var(--global-font-size-for-headers);
  text-decoration: underline;
}

.experiences_item h3 {
  font-size: var(--global-font-size-for-subheaders);
}

.experiences_item_header_container {
  margin-bottom: 1.5%;
}

.experiences_item_header_container h1 {
  color: var(--blue);
}

.vector-self-study,
.vector-online-class,
.vector-working {
  width: 600px;
  max-width: 600px;
  height: auto;
  z-index: 1;
}

.vector-self-study,
.vector-working {
  transform: translate(-50%, 0);
}

.vector-online-class {
  transform: translate(45%, 0);
}

.vector-arrow-to-left,
.vector-arrow-to-right {
  cursor: pointer;
}

.vector-arrow-to-right {
  transform: translate(1250%, 0);
}

.vector-arrow-to-left {
  transform: translate(-1250%, 0);
}