.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--global-padding-sides);
  width: 100%;
}

.experiences_item {
  color: var(--gray);
  min-width: 100%;
  max-width: 100%;
  display: flex;
}
.experiences_item .left,
.experiences_item .right {
  width: 50%;
  min-height: 50%;
  max-width: 50%;
}

.experiences_item h1,
.experiences_item h3 {
  font-family: "Don Jose";
  line-height: 47px;
}

.experiences_item h1 {
  font-size: var(--global-font-size-for-headers);
  text-decoration: underline;
}

.experiences_item h3 {
  font-size: var(--global-font-size-for-subheaders);
}

.experiences_item_header_container {
  margin-bottom: 1.5%;
}

.experiences_item_header_container h1 {
  color: var(--blue);
}

.vector-self-study {
  width: 65%;
  max-width: 65%;
  height: auto;
  transform: translate(-65%, 0);
}