@import './vars.css';

.contents {
  height: 100vh;
  display: flex;
  padding: var(--global-padding);
}

.contents-left,
.contents-right {
  width: 75%;
  max-width: 75%;
  height: 100%;
  max-height: 100%;
}

.contents-right {
  width: 25%;
  max-width: 25%;
}

.contents-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-container {
  margin-bottom: 5%;
}

.header {
  font-family: "Don Jose";
  font-size: 5rem;
  color: var(--gray-lighter);
  line-height: 75px;
}

.subheader {
  width: max-content;
  font-size: 2rem;
  color: var(--blue);
  font-weight: 700;
  border-bottom: 1px solid var(--blue);
}

.icons {
  margin-top: 1%;
}

.icons svg {
  fill: var(--blue);
  margin-right: 2.5%;
}

.navigation-container,
.navigation-container svg {
  color: var(--gray-lighter);
  fill: var(--gray-lighter);
}

.navigation-container svg {
  margin-right: 2.5%;
}

.navigation-container-link {
  display: flex;
  align-items: center;
  margin-bottom: 2.5%;
  color: var(--gray-lighter);
  text-decoration: none;
  transition: transform 250ms ease-in-out;
}

.navigation-container-link:hover {
  transform: translateX(10px);
}

.navigation-container-link span {
  font-size: 2rem;
  font-weight: 700;
}

.cartoon,
.splat1,
.splat2 {
  position: absolute;
  height: auto;
}

.splat1,
.splat2 {
  width: 400px;
}

.cartoon {
  width: 350;
}

.splat1 {
  fill: var(--blue-lighter);
  opacity: 0.25;
}

.splat2 {
  fill: var(--blue);
  opacity: 0.25;
  transform: rotate(90);
}