.greetings {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.greetings h3 {
  color: var(--gray);
  font-family: 'Raleway';
  font-size: 2rem;
}

.contents {
  display: flex;
  padding: var(--global-padding-sides);
}

.contents-left,
.contents-right {
  width: 75%;
  max-width: 75%;
}

.contents-right {
  width: 25%;
  max-width: 25%;
}

.contents-left,
.contents-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 99;
}

.header-container {
  margin-bottom: 5%;
}

.header {
  max-width: 400px;
  text-overflow: clip;
}

.header,
.header span {
  overflow: hidden;
  display: inline-block;
  font-family: "Don Jose";
  font-size: 5rem;
  color: var(--gray-lighter);
  line-height: 75px;
}

.header-container marquee {
  max-width: 600px;
}

.salutation,
marquee span {
  color: var(--blue);
  font-size: var(--global-font-size-for-subheaders);
}

marquee span {
  display: inline-block;
  width: max-content;
  font-weight: 700;
}

.vector-cartoon {
  width: 750px;
  height: auto;
  transform: translate(30%, 0);
}

.contact-container > a {
  display: inline-block;
  margin-right: 2.5%;
}

.contact-container a:hover >svg {
  fill: var(--blue);
  filter: drop-shadow(0px 0px 10px var(--blue));
  -webkit-filter: drop-shadow(0px 0px 10px var(--blue));
}

.contact-container svg {
  fill: var(--backdrop-lighter);
  transition: all 250ms ease-in-out;
  
}