.contents {
  display: flex;
  padding: var(--global-padding-sides);
}

.contents-left,
.contents-right {
  width: 75%;
  max-width: 75%;
}

.contents-right {
  width: 25%;
  max-width: 25%;
}

.contents-left,
.contents-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 99;
}

.header-container {
  margin-bottom: 5%;
}

.header {
  font-family: "Don Jose";
  font-size: 5rem;
  color: var(--gray-lighter);
  line-height: 75px;
}

.subheader {
  width: max-content;
  font-size: var(--global-font-size-for-subheaders);
  color: var(--blue);
  font-weight: 700;
  border-bottom: 1px solid var(--blue);
}

.icons {
  margin-top: 1%;
}

.icons svg {
  fill: var(--blue);
  margin-right: 2.5%;
}

.navigation-container,
.navigation-container svg {
  color: var(--gray-lighter);
  fill: var(--gray-lighter);
}

.navigation-container svg {
  margin-right: 2.5%;
}

.navigation-container-link {
  display: flex;
  align-items: center;
  margin-bottom: 2.5%;
  color: var(--gray-lighter);
  text-decoration: none;
  transition: transform 250ms ease-in-out;
}

.navigation-container-link:hover {
  transform: translateX(10px);
}

.navigation-container-link span {
  font-size: var(--global-font-size-for-subheaders);
  font-weight: 700;
}

.cartoon,
.splat1,
.splat2,
.splat3 {
  position: absolute;
  height: auto;
  top: 0;
  left: 0;
  transform-origin: center;
}

.splat1,
.splat2,
.splat3 {
  width: 400px;
  z-index: -1;
  opacity: 0.25;
}

.cartoon {
  width: 450px;
  transform: translate(60%, 0);
}

.splat1 {
  fill: var(--blue-lighter);
  transform: translate(50%, -25%);
}

.splat2 {
  fill: var(--gray);
  transform: translate(100%, 0%) rotate(90deg);
}

.splat3 {
  fill: var(--blue);
  transform: translate(50%, 30%) rotate(190deg);
}