.left,
.right {
  width: 50%;
  padding: var(--global-padding-sides-smaller);
}

.left h2 {
  line-height: 75px;
  min-height: 10rem;
}

.skilllist-container {
  min-width: 100%;
  margin-bottom: 10%;
  border-bottom: 2.5px solid var(--backdrop-light);
}

.skilllist-container h1 {
  text-align: right;
  text-transform: uppercase;
  letter-spacing: .25rem;
  color: var(--backdrop-lighter);
  overflow: hidden;
  margin-right: 2.5%;
  transition: color 250ms ease-in-out;
}

.skilllist-container h1,
.skilllist-container h1 span {
  display: inline-block;
  font-family: "Don Jose";
  font-size: 1.5rem;
}

.skilllist-container,
.skilllist,
.skilllist-item,
.skilllist-item-img-container {
  display: flex;
  flex-direction: column;
}

.skilllist-item,
.skilllist-item-img-container {
  justify-content: center;
  align-items: center;
}

.skilllist {
  justify-content: flex-end;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
}

.skilllist-item {
  min-width: 65px;
  max-width: 65px;
  min-height: 65px;
  max-height: 65px;
}

.skilllist-item-img-container {
  width: 100%;
}

.skilllist-item img {
  width: 40px;
  height: auto;
}