.left,
.right {
  width: 50%;
  padding: var(--global-padding-sides-smaller);
}

.left h2 {
  line-height: 75px;
  min-height: 10rem;
}

.skilllist-container,
.skilllist,
.skilllist-item,
.skilllist-item-img-container {
  display: flex;
  flex-direction: column;
}

.skilllist-container {
  flex-direction: row;
  min-width: 100%;
  margin-bottom: 10%;
  border-top: 2px solid var(--backdrop-light);
}

.skilllist-container .left {
  width: 20%;
  min-width: 20%;
  max-width: 20%;
}

.skilllist-container .left img {
  width: 100%;
  height: 100%;
}

.skilllist-container .right {
  width: 80%;
  min-width: 80%;
  max-width: 80%;
}

.skilllist-container .right,
.skilllist-container .skilllist-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skilllist-container .skilllist-header h1 {
  text-transform: uppercase;
  letter-spacing: .25rem;
  color: var(--backdrop-lighter);
  overflow: hidden;
  transition: color 250ms ease-in-out;
}

.skilllist-container .skilllist-header h1,
.skilllist-container .skilllist-header h1 span {
  display: inline-block;
  font-family: "Don Jose";
  font-size: 1.5rem;
}

.skilllist-container .skilllist-header h1,
.skilllist-container .skilllist-header p {
  text-align: right;
  padding: 0 2.5% 0 2.5%;
}

.skilllist-item,
.skilllist-item-img-container {
  justify-content: center;
  align-items: center;
}

.skilllist {
  justify-content: flex-end;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
}

.skilllist-item,
.skilllist-item img,
.skilllist-item-hovered,
.skilllist-item-hovered img {
  transition: all 250ms ease-in-out;
  transform-origin: bottom;
}

.skilllist-item {
  min-width:  30px;
  max-width:  30px;
}

.skilllist-item-img-container {
  width: 100%;
}

.skilllist-item img {
  width: 25px;
  min-width: 25px;
  max-width: 25px;
  height: auto;
}

.skilllist-item-hovered {
  min-width: 60px;
  max-width: 60px;
}

.skilllist-item-hovered img {
  transform: scale(2);
}