:root {
  /* COLORS */
  --backdrop: hsl(210, 6%, 9%);
  --backdrop-light: hsl(210, 6%, 14%);
  --backdrop-lighter: hsl(210, 6%, 28%);
  --gray: rgb(198, 199, 200);
  --gray-lighter: rgb(224, 224, 225);
  --gray-lightest: rgb(250, 250, 250);
  --blue: rgb(100, 252, 242);
  --blue-lighter: rgb(200, 254, 250);
  --blue-lightest: rgb(250, 255, 255);
  --darkblue: rgb(31, 40, 51);
  --darkblue-lighter: rgb(69, 90, 114);
  --darkblue-lightest: rgb(115, 140, 170);

  /* COLORS per ELEMENT */
  --for-backdrop: var(--backdrop);

  /* LAYOUT */
  --global-padding-all: 5%;
  --global-padding-all-smaller: 2.5%;
  --global-padding-sides: 0 5% 0 5%;
  --global-padding-sides-smaller: 0 2.5% 0 2.5%;
  --global-margin-all: 5%;
  --global-margin-all-smaller: 2.5%;
  --global-border-raidius: 35px;
  --global-font-size-for-headers: 2.5rem;
  --global-font-size-for-subheaders: 2rem;
}