* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway';
}

@font-face {
  font-family: "Don Jose";
  src: url("./fonts/donjose.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/raleway_bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/raleway_normal.woff2") format("woff2");
  font-weight: 400;
}