@import './styles/vars.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway';
}

html,
body {
  overflow-x: hidden;
}

.backdrop {
  background-color: var(--for-backdrop);
  min-height: 100vh;
  width: 100vw;
}

.contain {
  width: 100vw;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto 0 auto;
}

.relative {
  position: relative;
  top: 0;
  left: 0;
}

.float {
  position: absolute;
}

.halftone {
  width: 90vh;
  transform: rotate(90deg);
  fill: var(--blue-lighter);
  opacity: 0.1;
}

@font-face {
  font-family: "Don Jose";
  src: url("./assets/fonts/donjose.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/raleway_bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/raleway_normal.woff2") format("woff2");
  font-weight: 400;
}