@import './styles/vars.css';

@font-face {
  font-family: "Don Jose";
  src: url("./assets/fonts/donjose.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/raleway_bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/raleway_normal.woff2") format("woff2");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway';
  font-size: 1.25rem;
}

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

svg {
  overflow: visible;
}

.backdrop {
  background-color: var(--for-backdrop);
  min-height: 100vh;
  width: 100vw;
}

.gradient {
  background: linear-gradient(113.96deg, #000000 0%, #1F2833 49.48%, #000000 100%);
  margin: 0 auto 0 auto;
}

.contain-screen {
  position: relative;
  z-index: 0;
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto 0 auto;
}

.contain-screen::-webkit-scrollbar {
  display: none;
}

.floating-vector {
  position: absolute;
  z-index: -1;
  height: auto;
  top: 0;
  left: 0;
  transform-origin: center;
}